Modules/
Modules/localConfig.pm
Modules/localConfig\.pm
*Modules/localConfig.pm
*localConfig.pm
DATA-TEST/bwaTestDir/
DATA-TEST/cutadaptTestDir/
DATA-TEST/fastqcTestDir/
DATA-TEST/gatkTestDir/
DATA-TEST/pairingTestDir/
DATA-TEST/picardtoolsTestDir/
DATA-TEST/samtoolsTestDir/
DATAbak/
Modules/Capture/
Modules/Data/
Modules/Test/

